<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<form action="/api/users/register" method="POST">
  <div class="container">
    <h1 class="registerheader">Registrar Usuario</h1>
    <div class="col-3">
      <label for="nombre"></label>
      <input
        class="effect-1"
        type="text"
        placeholder="Introducir Nombre"
        name="nombre"
        required
      />
      <span class="focus-border"></span>
    </div>
    <div class="col-3">
      <label for="email"></label>
      <input
        class="effect-1"
        type="text"
        placeholder="Introducir Email"
        name="email"
        required
      />
      <span class="focus-border"></span>
    </div>
    <div class="col-3">
      <label for="password"></label>
      <input
        class="effect-1"
        type="password"
        placeholder="Introducir Contraseña"
        name="password"
        required
      /><span class="focus-border"></span>
    </div>
    <div class="col-3">
      <label for="password2"></label>
      <input
        class="effect-1"
        type="password"
        placeholder="Repetir Contraseña"
        name="password2"
        required
      /><span class="focus-border"></span>
    </div>

    <button type="submit" class="registerbtn">Registrar</button>
  </div>

  <div>
    <p class="footersignin">
      ¿Ya tienes una cuenta? <a href="/api/users/login">Log In</a>
    </p>
  </div>
</form>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
