/* Add padding to containers */
.container {
  padding: 10px;
  background-color: $white;
  text-align: center;
  & h1 {
    text-align: center;
    font-size: 25px;
    margin: 10px 0 -16px 0;
    animation: moveInRight 0.5s;
  }
  /* Add a blue text color to links */
  & a {
    color: $bluetxt;
  }
}
/* Set a grey background color and center the text of the "sign in" section */
.footersignin {
  text-align: center;
  font-size: 15px;
  &__link {
    text-decoration: none;
    color: $bgcolor-nav;
  }
}
/* Full-width input fields */
:focus {
  outline: none;
}

.col-3 {
  display: block;
  float: initial;
  width: 27.33%;
  margin: 2% auto;
  position: relative;
} /* necessary to give position: relative to parent. */
input[type="text"],
input[type="password"] {
  font: 15px/24px "Lato", sans-serif;
  color: $bgcolor-nav;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  & ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $bgcolor-nav;
    transition: 0.5s;
  }
  &:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
  }
}

/* Set a style for the submit button */
.registerbtn {
  background-color: $bgcolor-nav;
  border-radius: 10px;
  color: $white;
  float: inherit;
  top: 40%;
  right: 20%;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 10%;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5spx 10px rgba(0, 0, 0, 0.1);
  }
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid $bgcolor-signin;
  margin-bottom: 25px;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
