$bgcolor-signin: #f1f1f1;
$bgcolor-nav: #5be172;
$grey1: rgba(255, 255, 255, 0.7);
$grey2: rgba(255, 255, 255, 0.8);
$color-hover: rgba(255, 255, 255, 1);
$bgcolor-input: #ddd;
$bluetxt: dodgerblue;
$nav-border: rgba(0, 0, 0, 0.2);
$white: white;
